html {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Spartan, sans-serif;
  font-size: 18px;
  color: white;
  background-image: url("bellaso.png");
  background-size: 1280px 720px;
  background-position: center;
}
h1 {
  color: #fafbfc;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  margin: 2px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 600px;

  background-color: transparents rgb(0, 0, 0);
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.564);
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
textarea {
  margin-top: 2px;
  margin-bottom: 15px;
  padding: 30px;
  font-size: 14px;
  border-radius: 8px;
  width: calc(100% - 20px);
  max-height: 150px;
  box-sizing: border-box;
  resize: vertical;
}
select,
button {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  width: 50%;
  box-sizing: border-box;
}
button {
  background-color: #bb8746;
  color: black;
  cursor: pointer;
}
button:hover {
  background-color: white;
}
#result {
  margin-top: 20px;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 12px;
  color: #000000;
  font-weight: bold;
}
